/* Button Colors */
.btn-primary:focus,
.btn-primary:hover {
	color: var(--color-white);
	background-color: var(--bg-primary-hover) !important;
	border-color: var(--bg-primary-hover);
}

.btn-primary-hover {
	color: #ffffff;
	background-color: var(--bg-primary-hover) !important;
	border-color: var(--bg-primary-hover);
}

.btn-primary-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}

.btn-secondary:focus,
.btn-secondary:hover {
	color: var(--color-white);
	background-color: var(--bg-secondary-hover) !important;
	border-color: var(--bg-secondary-hover);
}

.btn-secondary-hover {
	color: #ffffff;
	background-color: var(--bg-secondary-hover) !important;
	border-color: var(--bg-secondary-hover);
}

.btn-secondary-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}

.btn-success:hover {
	color: var(--color-white);
	background-color: var(--bg-success-hover) !important;
	border-color: var(--bg-success-hover);
}

.btn-success-hover {
	color: #ffffff;
	background-color: var(--bg-success-hover) !important;
	border-color: var(--bg-success-hover);
}

.btn-success-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}
.btn-info:focus,
.btn-info:hover {
	color: var(--color-white);
	background-color: var(--bg-info-hover) !important;
	border-color: var(--bg-info-hover);
}

.btn-info-hover {
	color: #ffffff;
	background-color: var(--bg-info-hover) !important;
	border-color: var(--bg-info-hover);
}

.btn-info-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}

.btn-warning:hover {
	color: var(--color-white);
	background-color: var(--bg-warning-hover) !important;
	border-color: var(--bg-warning-hover);
}

.btn-warning-hover {
	color: #ffffff;
	background-color: var(--bg-warning-hover) !important;
	border-color: var(--bg-warning-hover);
}

.btn-warning-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}
.btn-danger:focus,
.btn-danger:hover {
	color: var(--color-white);
	background-color: var(--bg-danger-hover) !important;
	border-color: var(--bg-danger-hover);
}

.btn-danger-hover {
	color: #ffffff;
	background-color: var(--bg-danger-hover) !important;
	border-color: var(--bg-danger-hover);
}

.btn-danger-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}

.btn-dark:hover {
	color: var(--color-white);
	background-color: var(--bg-dark-hover) !important;
	border-color: var(--bg-dark-hover);
}

.btn-dark-hover {
	color: #ffffff;
	background-color: var(--bg-dark-hover) !important;
	border-color: var(--bg-dark-hover);
}

.btn-dark-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}

.btn-gray:hover {
	color: var(--color-white);
	background-color: var(--bg-gray-hover) !important;
	border-color: var(--bg-gray-hover);
}

.btn-gray-hover {
	color: #ffffff;
	background-color: var(--bg-gray-hover) !important;
	border-color: var(--bg-gray-hover);
}

.btn-gray-hover:hover {
	color: #ffffff;
	opacity: 0.7;
}

.btn-shadow-primary {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-secondary {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-success {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-info {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-infos {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-warning {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-warnings {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-danger {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-dangers {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-purple {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-dark {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-light {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-light-gray {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-text {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-lighten {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-gray {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-third {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.btn-shadow-white {
	-webkit-box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
	box-shadow: 0 8px 10px var(--color-primary-rgba-shadow) !important;
}

.outline-lg-primary {
	border: 2px solid var(--color-primary);
	background: none;
	color: var(--color-primary);
}

.outline-lg-secondary {
	border: 2px solid var(--color-secondary);
	background: none;
	color: var(--color-secondary);
}

.outline-lg-success {
	border: 2px solid var(--color-success);
	background: none;
	color: var(--color-success);
}

.outline-lg-info {
	border: 2px solid var(--color-info);
	background: none;
	color: var(--color-info);
}

.outline-lg-infos {
	border: 2px solid var(--color-infos);
	background: none;
	color: var(--color-infos);
}

.outline-lg-warning {
	border: 2px solid var(--color-warning);
	background: none;
	color: var(--color-warning);
}

.outline-lg-warnings {
	border: 2px solid var(--color-warnings);
	background: none;
	color: var(--color-warnings);
}

.outline-lg-danger {
	border: 2px solid var(--color-danger);
	background: none;
	color: var(--color-danger);
}

.outline-lg-dangers {
	border: 2px solid var(--color-dangers);
	background: none;
	color: var(--color-dangers);
}

.outline-lg-purple {
	border: 2px solid var(--color-purple);
	background: none;
	color: var(--color-purple);
}

.outline-lg-dark {
	border: 2px solid var(--color-dark);
	background: none;
	color: var(--color-dark);
}

.outline-lg-light {
	border: 2px solid var(--color-light);
	background: none;
	color: var(--color-light);
}

.outline-lg-light-gray {
	border: 2px solid var(--color-gray);
	background: none;
	color: var(--color-gray);
}

.outline-lg-text {
	border: 2px solid var(--text-color);
	background: none;
	color: var(--text-color);
}

.outline-lg-lighten {
	border: 2px solid var(--color-lighten);
	background: none;
	color: var(--color-lighten);
}

.outline-lg-gray {
	border: 2px solid var(--color-gray);
	background: none;
	color: var(--color-gray);
}

.outline-lg-third {
	border: 2px solid var(--color-primary);
	background: none;
	color: var(--color-primary);
}

.outline-lg-white {
	border: 2px solid #ffffff;
	background: none;
	color: #ffffff;
}

.btn-transparent-primary {
	background: rgba(130, 49, 211, .15);
	color: var(--color-primary);
}

.btn-transparent-secondary {
	background: rgba(88, 64, 255, 0.15);
	color: #5840FF;
}

.btn-transparent-success {
	background: rgba(1, 184, 26, 0.15);
	color: var(--color-success);
}

.btn-transparent-info {
	background: rgba(0, 170, 255, 0.15);
	color: var(--color-info);
}

.btn-transparent-infos {
	background: rgba(0, 228, 236, 0.15);
	color: var(--color-infos);
}

.btn-transparent-warning {
	background: rgba(250, 139, 12, 0.15);
	color: var(--color-warning);
}

.btn-transparent-warnings {
	background: rgba(255, 187, 0, 0.15);
	color: var(--color-warnings);
}

.btn-transparent-danger {
	background: rgba(255, 15, 15, 0.15);
	color: var(--color-danger);
}

.btn-transparent-dangers {
	background: rgba(255, 15, 15, 0.15);
	color: var(--color-dangers);
}

.btn-transparent-purple {
	background: rgba(167, 34, 246, 0.15);
	color: var(--color-purple);
}

.btn-transparent-dark {
	background: rgba(9, 14, 48, 0.15);
	color: var(--color-dark);
}

.btn-transparent-light {
	background: rgba(248, 249, 250, 0.15);
	color: var(--color-light);
}

.btn-transparent-light-gray {
	background: rgba(140, 144, 164, 0.15);
	color: var(--color-gray);
}

.btn-transparent-text {
	background: rgba(102, 109, 146, 0.15);
	color: var(--text-color);
}

.btn-transparent-lighten {
	background: rgba(173, 181, 217, 0.15);
	color: var(--color-lighten);
}

.btn-transparent-gray {
	background: rgba(82, 87, 104, 0.15);
	color: var(--color-gray);
}

.btn-transparent-third {
	background: rgba(251, 53, 134, 0.15);
	color: var(--color-primary);
}

.btn-transparent-white {
	background: rgba(255, 255, 255, 0.15);
	color: #ffffff;
}


.btn-outline-primary {
	color: var(--color-primary);
	border-color: var(--color-primary);
}

.btn-outline-secondary {
	color: var(--color-secondary);
	border-color: var(--color-secondary);
}

.btn-outline-success {
	color: var(--color-success);
	border-color: var(--color-success);
}
.btn-outline-info {
	color: var(--color-info);
	border-color: var(--color-info);
}
.btn-outline-warning {
	color: var(--color-warning);
	border-color: var(--color-warning);
}
.btn-outline-danger {
	color: var(--color-danger);
	border-color: var(--color-danger);
}
.btn-outline-dark {
	color: var(--color-dark);
	border-color: var(--color-dark);
}
.btn-outline-light {
	color: var(--color-light);
	border-color: var(--color-light);
}


.btn-outline-primary:hover{
	background-color:var(--color-primary);
	border-color: var(--color-primary);
}
.btn-outline-secondary:hover{
	background-color:var(--color-secondary);
	border-color: var(--color-secondary);
}

.btn-outline-success:hover{
	background-color:var(--color-success);
	border-color: var(--color-success);
}

.btn-outline-info:hover{
	background-color:var(--color-info);
	border-color: var(--color-info);
}

.btn-outline-warning:hover{
	background-color:var(--color-warning);
	border-color: var(--color-warning);
}

.btn-outline-danger:hover{
	background-color:var(--color-danger);
	border-color: var(--color-danger);
}

.btn-outline-dark:hover{
	background-color:var(--color-dark);
	border-color: var(--color-dark);
}


.card .card-body .btn-group i,
.card .card-body .btn-group svg {
    color: var(--color-currentColor);
	margin: 0 0 0 6px;
	font-weight: 15px;
}