/*===========================
 Custom Colors
===========================*/
.color-primary {
	color: var(--color-primary);
}

.bg-primary {
	background: var(--bg-primary) !important;
}

.outline-primary {
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}

.active-color-primary label input:checked + span {
	background: var(--color-primary);
	border-color: var(--color-primary);
}

.badge-primary {
	color: var(--color-white);
	background: var(--color-primary);
}

.alert-primary {
	color: var(--color-primary);
	background-color: rgba(var(--color-primary-rgba), 0.1);
	border: 1px solid rgba(var(--color-primary-rgba), 0.1);
}

.btn-primary {
	color: var(--color-white);
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.btn-primary:disabled{
	color:var(--color-white);
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}
.btn-secondary:disabled{
	color:var(--color-white);
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
}.btn-success:disabled{
	color:var(--color-white);
	background-color: var(--color-success);
	border-color: var(--color-success);
}.btn-info:disabled{
	color:var(--color-white);
	background-color: var(--color-info);
	border-color: var(--color-info);
}.btn-warning:disabled{
	color:var(--color-white);
	background-color: var(--color-warning);
	border-color: var(--color-warning);
}.btn-danger:disabled{
	color:var(--color-white);
	background-color: var(--color-danger);
	border-color: var(--color-danger);
}

.circle-primary {
	color: var(--color-primary);
	background: rgba(var(--color-primary-rgba), 0.1);
}

.border-primary {
	border: 1px solid var(--color-primary);
}

.bg-opacity-primary {
	background: rgba(var(--color-primary-rgba), 0.15);
}

.order-bg-opacity-primary {
	background: rgba(var(--color-primary-rgba), 0.1);
}

.order-bg-opacity-primary i {
	color: var(--color-primary);
}

.order-bg-opacity-primary svg {
	fill: var(--color-primary);
}

.color-svgDF-primary svg {
	color: var(--color-primary);
}

.form-switch-primary .form-check-input:checked {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.form-switch-primary .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-secondary {
	color: var(--color-secondary);
}

.bg-secondary {
	background: var(--bg-secondary) !important;
}

.outline-secondary {
	border: 1px solid var(--color-secondary);
	color: var(--color-secondary);
}

.active-color-secondary label input:checked + span {
	background: var(--color-secondary);
	border-color: var(--color-secondary);
}

.badge-secondary {
	color: var(--color-white);
	background: var(--color-secondary);
}

.alert-secondary {
	color: var(--color-secondary);
	background-color: rgba(var(--color-secondary-rgba), 0.1);
	border: 1px solid rgba(var(--color-secondary-rgba), 0.1);
}

.btn-secondary {
	color: var(--color-white);
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
}

.circle-secondary {
	color: var(--color-secondary);
	background: rgba(var(--color-secondary-rgba), 0.1);
}

.border-secondary {
	border: 1px solid var(--color-secondary);
}

.bg-opacity-secondary {
	background: rgba(var(--color-secondary-rgba), 0.15);
}

.order-bg-opacity-secondary {
	background: rgba(var(--color-secondary-rgba), 0.1);
}

.order-bg-opacity-secondary svg {
	fill: var(--color-secondary);
}

.color-svgDF-secondary svg {
	color: var(--color-secondary);
}

.form-switch-secondary .form-check-input:checked {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
}

.form-switch-secondary .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-success {
	color: var(--color-success);
}

.bg-success {
	background: var(--bg-success) !important;
}

.outline-success {
	border: 1px solid var(--color-success);
	color: var(--color-success);
}

.active-color-success label input:checked + span {
	background: var(--color-success);
	border-color: var(--color-success);
}

.badge-success {
	color: var(--color-white);
	background: var(--color-success);
}

.alert-success {
	color: var(--color-success);
	background-color: rgba(var(--color-success-rgba), 0.1);
	border: 1px solid rgba(var(--color-success-rgba), 0.1);
}

.btn-success {
	color: var(--color-white);
	background-color: var(--color-success);
	border-color: var(--color-success);
}

.circle-success {
	color: var(--color-success);
	background: rgba(var(--color-success-rgba), 0.1);
}

.border-success {
	border: 1px solid var(--color-success);
}

.bg-opacity-success {
	background: rgba(var(--color-success-rgba), 0.15);
}

.order-bg-opacity-success {
	background: rgba(var(--color-success-rgba), 0.1);
}

.order-bg-opacity-success svg {
	fill: var(--color-success);
}

.color-svgDF-success svg {
	color: var(--color-success);
}

.form-switch-success .form-check-input:checked {
	background-color: var(--color-success);
	border-color: var(--color-success);
}

.form-switch-success .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-info {
	color: var(--color-info);
}

.bg-info {
	background: var(--bg-info) !important;
}

.outline-info {
	border: 1px solid var(--color-info);
	color: var(--color-info);
}

.active-color-info label input:checked + span {
	background: var(--color-info);
	border-color: var(--color-info);
}

.badge-info {
	color: var(--color-white);
	background: var(--color-info);
}

.alert-info {
	color: var(--color-info);
	background-color: rgba(var(--color-info-rgba), 0.1);
	border: 1px solid rgba(var(--color-info-rgba), 0.1);
}

.btn-info {
	color: var(--color-white);
	background-color: var(--color-info);
	border-color: var(--color-info);
}

.circle-info {
	color: var(--color-info);
	background: rgba(var(--color-info-rgba), 0.1);
}

.border-info {
	border: 1px solid var(--color-info);
}

.bg-opacity-info {
	background: rgba(var(--color-info-rgba), 0.15);
}

.order-bg-opacity-info {
	background: rgba(var(--color-info-rgba), 0.1);
}

.order-bg-opacity-info svg {
	fill: var(--color-info);
}

.color-svgDF-info svg {
	color: var(--color-info);
}

.form-switch-info .form-check-input:checked {
	background-color: var(--color-info);
	border-color: var(--color-info);
}

.form-switch-info .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-infos {
	color: var(--color-infos);
}

.bg-infos {
	background: var(--bg-infos) !important;
}

.outline-infos {
	border: 1px solid var(--color-infos);
	color: var(--color-infos);
}

.active-color-infos label input:checked + span {
	background: var(--color-infos);
	border-color: var(--color-infos);
}

.badge-infos {
	color: var(--color-white);
	background: var(--color-infos);
}

.alert-infos {
	color: var(--color-infos);
	background-color: rgba(var(--color-infos-rgba), 0.1);
	border: 1px solid rgba(var(--color-infos-rgba), 0.1);
}

.btn-infos {
	color: var(--color-white);
	background-color: var(--color-infos);
	border-color: var(--color-infos);
}

.circle-infos {
	color: var(--color-infos);
	background: rgba(var(--color-infos-rgba), 0.1);
}

.border-infos {
	border: 1px solid var(--color-infos);
}

.bg-opacity-infos {
	background: rgba(var(--color-infos-rgba), 0.15);
}

.order-bg-opacity-infos {
	background: rgba(var(--color-infos-rgba), 0.1);
}

.order-bg-opacity-infos svg {
	fill: var(--color-infos);
}

.color-svgDF-infos svg {
	color: var(--color-infos);
}

.form-switch-infos .form-check-input:checked {
	background-color: var(--color-infos);
	border-color: var(--color-infos);
}

.form-switch-infos .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-warning {
	color: var(--color-warning);
}

.bg-warning {
	background: var(--bg-warning) !important;
}

.outline-warning {
	border: 1px solid var(--color-warning);
	color: var(--color-warning);
}

.active-color-warning label input:checked + span {
	background: var(--color-warning);
	border-color: var(--color-warning);
}

.badge-warning {
	color: var(--color-white);
	background: var(--color-warning);
}

.alert-warning {
	color: var(--color-warning);
	background-color: rgba(var(--color-warning-rgba), 0.1);
	border: 1px solid rgba(var(--color-warning-rgba), 0.1);
}

.btn-warning {
	color: var(--color-white);
	background-color: var(--color-warning);
	border-color: var(--color-warning);
}

.circle-warning {
	color: var(--color-warning);
	background: rgba(var(--color-warning-rgba), 0.1);
}

.border-warning {
	border: 1px solid var(--color-warning);
}

.bg-opacity-warning {
	background: rgba(var(--color-warning-rgba), 0.15);
}

.order-bg-opacity-warning {
	background: rgba(var(--color-warning-rgba), 0.1);
}

.order-bg-opacity-warning svg {
	fill: var(--color-warning);
}

.color-svgDF-warning svg {
	color: var(--color-warning);
}

.form-switch-warning .form-check-input:checked {
	background-color: var(--color-warning);
	border-color: var(--color-warning);
}

.form-switch-warning .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-warnings {
	color: var(--color-warnings);
}

.bg-warnings {
	background: var(--bg-warnings) !important;
}

.outline-warnings {
	border: 1px solid var(--color-warnings);
	color: var(--color-warnings);
}

.active-color-warnings label input:checked + span {
	background: var(--color-warnings);
	border-color: var(--color-warnings);
}

.badge-warnings {
	color: var(--color-white);
	background: var(--color-warnings);
}

.alert-warnings {
	color: var(--color-warnings);
	background-color: rgba(var(--color-warnings-rgba), 0.1);
	border: 1px solid rgba(var(--color-warnings-rgba), 0.1);
}

.btn-warnings {
	color: var(--color-white);
	background-color: var(--color-warnings);
	border-color: var(--color-warnings);
}

.circle-warnings {
	color: var(--color-warnings);
	background: rgba(var(--color-warnings-rgba), 0.1);
}

.border-warnings {
	border: 1px solid var(--color-warnings);
}

.bg-opacity-warnings {
	background: rgba(var(--color-warnings-rgba), 0.15);
}

.order-bg-opacity-warnings {
	background: rgba(var(--color-warnings-rgba), 0.1);
}

.order-bg-opacity-warnings svg {
	fill: var(--color-warnings);
}

.color-svgDF-warnings svg {
	color: var(--color-warnings);
}

.form-switch-warnings .form-check-input:checked {
	background-color: var(--color-warnings);
	border-color: var(--color-warnings);
}

.form-switch-warnings .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-danger {
	color: var(--color-danger);
}

.bg-danger {
	background: var(--bg-danger) !important;
}

.outline-danger {
	border: 1px solid var(--color-danger);
	color: var(--color-danger);
}

.active-color-danger label input:checked + span {
	background: var(--color-danger);
	border-color: var(--color-danger);
}

.badge-danger {
	color: var(--color-white);
	background: var(--color-danger);
}

.alert-danger {
	color: var(--color-danger);
	background-color: rgba(var(--color-danger-rgba), 0.1);
	border: 1px solid rgba(var(--color-danger-rgba), 0.1);
}

.btn-danger {
	color: var(--color-white);
	background-color: var(--color-danger);
	border-color: var(--color-danger);
}

.circle-danger {
	color: var(--color-danger);
	background: rgba(var(--color-danger-rgba), 0.1);
}

.border-danger {
	border: 1px solid var(--color-danger);
}

.bg-opacity-danger {
	background: rgba(var(--color-danger-rgba), 0.15);
}

.order-bg-opacity-danger {
	background: rgba(var(--color-danger-rgba), 0.1);
}

.order-bg-opacity-danger svg {
	fill: var(--color-danger);
}

.color-svgDF-danger svg {
	color: var(--color-danger);
}

.form-switch-danger .form-check-input:checked {
	background-color: var(--color-danger);
	border-color: var(--color-danger);
}

.form-switch-danger .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-dangers {
	color: var(--color-dangers);
}

.bg-dangers {
	background: var(--bg-dangers) !important;
}

.outline-dangers {
	border: 1px solid var(--color-dangers);
	color: var(--color-dangers);
}

.active-color-dangers label input:checked + span {
	background: var(--color-dangers);
	border-color: var(--color-dangers);
}

.badge-dangers {
	color: var(--color-white);
	background: var(--color-dangers);
}

.alert-dangers {
	color: var(--color-dangers);
	background-color: rgba(var(--color-dangers-rgba), 0.1);
	border: 1px solid rgba(var(--color-dangers-rgba), 0.1);
}

.btn-dangers {
	color: var(--color-white);
	background-color: var(--color-dangers);
	border-color: var(--color-dangers);
}

.circle-dangers {
	color: var(--color-dangers);
	background: rgba(var(--color-dangers-rgba), 0.1);
}

.border-dangers {
	border: 1px solid var(--color-dangers);
}

.bg-opacity-dangers {
	background: rgba(var(--color-dangers-rgba), 0.15);
}

.order-bg-opacity-dangers {
	background: rgba(var(--color-dangers-rgba), 0.1);
}

.order-bg-opacity-dangers svg {
	fill: var(--color-dangers);
}

.color-svgDF-dangers svg {
	color: var(--color-dangers);
}

.form-switch-dangers .form-check-input:checked {
	background-color: var(--color-dangers);
	border-color: var(--color-dangers);
}

.form-switch-dangers .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-purple {
	color: var(--color-purple);
}

.bg-purple {
	background: var(--bg-purple) !important;
}

.outline-purple {
	border: 1px solid var(--color-purple);
	color: var(--color-purple);
}

.active-color-purple label input:checked + span {
	background: var(--color-purple);
	border-color: var(--color-purple);
}

.badge-purple {
	color: var(--color-white);
	background: var(--color-purple);
}

.alert-purple {
	color: var(--color-purple);
	background-color: rgba(var(--color-purple-rgba), 0.1);
	border: 1px solid rgba(var(--color-purple-rgba), 0.1);
}

.btn-purple {
	color: var(--color-white);
	background-color: var(--color-purple);
	border-color: var(--color-purple);
}

.circle-purple {
	color: var(--color-purple);
	background: rgba(var(--color-purple-rgba), 0.1);
}

.border-purple {
	border: 1px solid var(--color-purple);
}

.bg-opacity-purple {
	background: rgba(var(--color-purple-rgba), 0.15);
}

.order-bg-opacity-purple {
	background: rgba(var(--color-purple-rgba), 0.1);
}

.order-bg-opacity-purple svg {
	fill: var(--color-purple);
}

.color-svgDF-purple svg {
	color: var(--color-purple);
}

.form-switch-purple .form-check-input:checked {
	background-color: var(--color-purple);
	border-color: var(--color-purple);
}

.form-switch-purple .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-dark {
	color: var(--color-dark);
}

.bg-dark {
	background: var(--bg-dark) !important;
}

.outline-dark {
	border: 1px solid var(--color-dark);
	color: var(--color-dark);
}

.active-color-dark label input:checked + span {
	background: var(--color-dark);
	border-color: var(--color-dark);
}

.badge-dark {
	color: var(--color-white);
	background: var(--color-dark);
}

.alert-dark {
	color: var(--color-dark);
	background-color: rgba(var(--color-dark-rgba), 0.1);
	border: 1px solid rgba(var(--color-dark-rgba), 0.1);
}

.btn-dark {
	color: var(--color-white);
	background-color: var(--color-dark);
	border-color: var(--color-dark);
}

.circle-dark {
	color: var(--color-dark);
	background: rgba(var(--color-dark-rgba), 0.1);
}

.border-dark {
	border: 1px solid var(--color-dark);
}

.bg-opacity-dark {
	background: rgba(var(--color-dark-rgba), 0.15);
}

.order-bg-opacity-dark {
	background: rgba(var(--color-dark-rgba), 0.1);
}

.order-bg-opacity-dark svg {
	fill: var(--color-dark);
}

.color-svgDF-dark svg {
	color: var(--color-dark);
}

.form-switch-dark .form-check-input:checked {
	background-color: var(--color-dark);
	border-color: var(--color-dark);
}

.form-switch-dark .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-light {
	color: var(--color-light);
}

.bg-light {
	background: var(--bg-light) !important;
}

.outline-light {
	border: 1px solid var(--color-light);
	color: var(--color-light);
}

.active-color-light label input:checked + span {
	background: var(--color-light);
	border-color: var(--color-light);
}

.badge-light {
	color: var(--color-white);
	background: var(--color-light);
}

.alert-light {
	color: var(--color-light);
	background-color: rgba(var(--color-light-rgba), 0.1);
	border: 1px solid rgba(var(--color-light-rgba), 0.1);
}

.btn-light {
	color: var(--color-white);
	background-color: var(--color-light);
	border-color: var(--color-light);
}

.circle-light {
	color: var(--color-light);
	background: rgba(var(--color-light-rgba), 0.1);
}

.border-light {
	border: 1px solid var(--color-light);
}

.bg-opacity-light {
	background: rgba(var(--color-light-rgba), 0.15);
}

.order-bg-opacity-light {
	background: rgba(var(--color-light-rgba), 0.1);
}

.order-bg-opacity-light svg {
	fill: var(--color-light);
}

.color-svgDF-light svg {
	color: var(--color-light);
}

.form-switch-light .form-check-input:checked {
	background-color: var(--color-light);
	border-color: var(--color-light);
}

.form-switch-light .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-light-gray {
	color: var(--color-light-gray);
}

.bg-light-gray {
	background: var(--bg-light-gray) !important;
}

.outline-light-gray {
	border: 1px solid var(--color-light-gray);
	color: var(--color-light-gray);
}

.active-color-light-gray label input:checked + span {
	background: var(--color-light-gray);
	border-color: var(--color-light-gray);
}

.badge-light-gray {
	color: var(--color-white);
	background: var(--color-light-gray);
}

.alert-light-gray {
	color: var(--color-light-gray);
	background-color: rgba(var(--color-light-gray-rgba), 0.1);
	border: 1px solid rgba(var(--color-light-gray-rgba), 0.1);
}

.btn-light-gray {
	color: var(--color-white);
	background-color: var(--color-light-gray);
	border-color: var(--color-light-gray);
}

.circle-light-gray {
	color: var(--color-light-gray);
	background: rgba(var(--color-light-gray-rgba), 0.1);
}

.border-light-gray {
	border: 1px solid var(--color-light-gray);
}

.bg-opacity-light-gray {
	background: rgba(var(--color-light-gray-rgba), 0.15);
}

.order-bg-opacity-light-gray {
	background: rgba(var(--color-light-gray-rgba), 0.1);
}

.order-bg-opacity-light-gray svg {
	fill: var(--color-light-gray);
}

.color-svgDF-light-gray svg {
	color: var(--color-light-gray);
}

.form-switch-light-gray .form-check-input:checked {
	background-color: var(--color-light-gray);
	border-color: var(--color-light-gray);
}

.form-switch-light-gray .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-text {
	color: var(--color-text);
}

.bg-text {
	background: var(--bg-text) !important;
}

.outline-text {
	border: 1px solid var(--color-text);
	color: var(--color-text);
}

.active-color-text label input:checked + span {
	background: var(--color-text);
	border-color: var(--color-text);
}

.badge-text {
	color: var(--color-white);
	background: var(--color-text);
}

.alert-text {
	color: var(--color-text);
	background-color: rgba(var(--color-text-rgba), 0.1);
	border: 1px solid rgba(var(--color-text-rgba), 0.1);
}

.btn-text {
	color: var(--color-white);
	background-color: var(--color-text);
	border-color: var(--color-text);
}

.circle-text {
	color: var(--color-text);
	background: rgba(var(--color-text-rgba), 0.1);
}

.border-text {
	border: 1px solid var(--color-text);
}

.bg-opacity-text {
	background: rgba(var(--color-text-rgba), 0.15);
}

.order-bg-opacity-text {
	background: rgba(var(--color-text-rgba), 0.1);
}

.order-bg-opacity-text svg {
	fill: var(--color-text);
}

.color-svgDF-text svg {
	color: var(--color-text);
}

.form-switch-text .form-check-input:checked {
	background-color: var(--color-text);
	border-color: var(--color-text);
}

.form-switch-text .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-lighten {
	color: var(--color-lighten);
}

.bg-lighten {
	background: var(--bg-lighten) !important;
}

.outline-lighten {
	border: 1px solid var(--color-lighten);
	color: var(--color-lighten);
}

.active-color-lighten label input:checked + span {
	background: var(--color-lighten);
	border-color: var(--color-lighten);
}

.badge-lighten {
	color: var(--color-white);
	background: var(--color-lighten);
}

.alert-lighten {
	color: var(--color-lighten);
	background-color: rgba(var(--color-lighten-rgba), 0.1);
	border: 1px solid rgba(var(--color-lighten-rgba), 0.1);
}

.btn-lighten {
	color: var(--color-white);
	background-color: var(--color-lighten);
	border-color: var(--color-lighten);
}

.circle-lighten {
	color: var(--color-lighten);
	background: rgba(var(--color-lighten-rgba), 0.1);
}

.border-lighten {
	border: 1px solid var(--color-lighten);
}

.bg-opacity-lighten {
	background: rgba(var(--color-lighten-rgba), 0.15);
}

.order-bg-opacity-lighten {
	background: rgba(var(--color-lighten-rgba), 0.1);
}

.order-bg-opacity-lighten svg {
	fill: var(--color-lighten);
}

.color-svgDF-lighten svg {
	color: var(--color-lighten);
}

.form-switch-lighten .form-check-input:checked {
	background-color: var(--color-lighten);
	border-color: var(--color-lighten);
}

.form-switch-lighten .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-gray {
	color: var(--color-gray);
}

.bg-gray {
	background: var(--bg-gray) !important;
}

.outline-gray {
	border: 1px solid var(--color-gray);
	color: var(--color-gray);
}

.active-color-gray label input:checked + span {
	background: var(--color-gray);
	border-color: var(--color-gray);
}

.badge-gray {
	color: var(--color-white);
	background: var(--color-gray);
}

.alert-gray {
	color: var(--color-gray);
	background-color: rgba(var(--color-gray-rgba), 0.1);
	border: 1px solid rgba(var(--color-gray-rgba), 0.1);
}

.btn-gray {
	color: var(--color-white);
	background-color: var(--color-gray);
	border-color: var(--color-gray);
}

.circle-gray {
	color: var(--color-gray);
	background: rgba(var(--color-gray-rgba), 0.1);
}

.border-gray {
	border: 1px solid var(--color-gray);
}

.bg-opacity-gray {
	background: rgba(var(--color-gray-rgba), 0.15);
}

.order-bg-opacity-gray {
	background: rgba(var(--color-gray-rgba), 0.1);
}

.order-bg-opacity-gray svg {
	fill: var(--color-gray);
}

.color-svgDF-gray svg {
	color: var(--color-gray);
}

.form-switch-gray .form-check-input:checked {
	background-color: var(--color-gray);
	border-color: var(--color-gray);
}

.form-switch-gray .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-third {
	color: var(--color-third);
}

.bg-third {
	background: var(--bg-third) !important;
}

.outline-third {
	border: 1px solid var(--color-third);
	color: var(--color-third);
}

.active-color-third label input:checked + span {
	background: var(--color-third);
	border-color: var(--color-third);
}

.badge-third {
	color: var(--color-white);
	background: var(--color-third);
}

.alert-third {
	color: var(--color-third);
	background-color: rgba(var(--color-third-rgba), 0.1);
	border: 1px solid rgba(var(--color-third-rgba), 0.1);
}

.btn-third {
	color: var(--color-white);
	background-color: var(--color-third);
	border-color: var(--color-third);
}

.circle-third {
	color: var(--color-third);
	background: rgba(var(--color-third-rgba), 0.1);
}

.border-third {
	border: 1px solid var(--color-third);
}

.bg-opacity-third {
	background: rgba(var(--color-third-rgba), 0.15);
}

.order-bg-opacity-third {
	background: rgba(var(--color-third-rgba), 0.1);
}

.order-bg-opacity-third svg {
	fill: var(--color-third);
}

.color-svgDF-third svg {
	color: var(--color-third);
}

.form-switch-third .form-check-input:checked {
	background-color: var(--color-third);
	border-color: var(--color-third);
}

.form-switch-third .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-white {
	color: var(--color-white);
}

.bg-white {
	background: var(--bg-white) !important;
}

.outline-white {
	border: 1px solid var(--color-white);
	color: var(--color-white);
}

.active-color-white label input:checked + span {
	background: var(--color-white);
	border-color: var(--color-white);
}

.badge-white {
	color: var(--color-white);
	background: var(--color-white);
}

.alert-white {
	color: var(--color-white);
	background-color: rgba(var(--color-white-rgba), 0.1);
	border: 1px solid rgba(var(--color-white-rgba), 0.1);
}

.btn-white {
	color: var(--color-white);
	background-color: var(--color-white);
	border-color: var(--color-white);
}

.circle-white {
	color: var(--color-white);
	background: rgba(var(--color-white-rgba), 0.1);
}

.border-white {
	border: 1px solid var(--color-white);
}

.bg-opacity-white {
	background: rgba(var(--color-white-rgba), 0.15);
}

.order-bg-opacity-white {
	background: rgba(var(--color-white-rgba), 0.1);
}

.order-bg-opacity-white svg {
	fill: var(--color-white);
}

.color-svgDF-white svg {
	color: var(--color-white);
}

.form-switch-white .form-check-input:checked {
	background-color: var(--color-white);
	border-color: var(--color-white);
}

.form-switch-white .form-check-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.color-footer-dark {
	color: var(--color-footer-dark);
}

.bg-footer-dark {
	background: var(--bg-footer-dark);
}

.border-footer-dark {
	border-color: var(--color-footer-dark);
}

.border-deep {
	border: 1px solid var(--border-deep);
}

.border-color {
	border: 1px solid var(--border-color);
}

.bg-normal {
	background: var(--bg-normal);
}

.bg-lighter {
	background: var(--bg-lighter);
}

.bg-deep {
	background: var(--bg-deep);
}

.color-facebook {
	color: var(--color-facebook);
}

.bg-facebook {
	background: var(--color-facebook);
}

.border-facebook {
	border: 1px solid var(--color-facebook);
}

.order-bg-opacity-facebook {
	background: rgba(var(--color-facebook-rgba), 0.1);
}

.order-bg-opacity-facebook svg {
	fill: var(--color-facebook);
}

.order-bg-opacity-facebook i {
	color: var(--color-facebook);
}

.color-twitter {
	color: var(--color-twitter);
}

.color-dribbble {
	color: var(--color-dribbble);
}

.bg-twitter {
	background: var(--color-twitter);
}

.border-twitter {
	border: 1px solid var(--color-twitter);
}

.order-bg-opacity-twitter {
	background: rgba(var(--color-twitter-rgba), 0.1);
}

.order-bg-opacity-twitter svg {
	fill: var(--color-twitter);
}

.order-bg-opacity-twitter i {
	color: var(--color-twitter);
}

.color-pinterest {
	color: var(--color-pinterest);
}

.bg-pinterest {
	background: var(--color-pinterest);
}

.border-pinterest {
	border: 1px solid var(--color-pinterest);
}

.order-bg-opacity-pinterest {
	background: rgba(var(--color-pinterest-rgba), 0.1);
}

.order-bg-opacity-pinterest svg {
	fill: var(--color-pinterest);
}

.order-bg-opacity-pinterest i {
	color: var(--color-pinterest);
}

.color-gplus,
.color-google {
	color: var(--color-gplus);
}

.bg-gplus,
.bg-google {
	background: var(--color-gplus);
}

.border-gplus,
.border-google {
	border: 1px solid var(--color-gplus);
}

.order-bg-opacity-gplus,
.order-bg-opacity-google {
	background: rgba(var(--color-gplus-rgba), 0.1);
}

.order-bg-opacity-gplus svg,
.order-bg-opacity-google svg {
	fill: var(--color-gplus);
}

.order-bg-opacity-gplus i,
.order-bg-opacity-google i {
	color: var(--color-gplus);
}

.color-linkedin {
	color: var(--color-linkedin);
}

.bg-linkedin {
	background: var(--color-linkedin);
}

.border-linkedin {
	border: 1px solid var(--color-linkedin);
}

.order-bg-opacity-linkedin {
	background: rgba(var(--color-linkedin-rgba), 0.1);
}

.order-bg-opacity-linkedin svg {
	fill: var(--color-linkedin);
}

.order-bg-opacity-linkedin i {
	color: var(--color-linkedin);
}

.color-tumblr {
	color: var(--color-tumblr);
}

.bg-tumblr {
	background: var(--color-tumblr);
}

.border-tumblr {
	border: 1px solid var(--color-tumblr);
}

.order-bg-opacity-tumblr {
	background: rgba(var(--color-tumblr-rgba), 0.1);
}

.order-bg-opacity-tumblr svg {
	fill: var(--color-tumblr);
}

.order-bg-opacity-tumblr i {
	color: var(--color-tumblr);
}

.color-vk {
	color: var(--color-vk);
}

.bg-vk {
	background: var(--color-vk);
}

.border-vk {
	border: 1px solid var(--color-vk);
}

.order-bg-opacity-vk {
	background: rgba(var(--color-vk-rgba), 0.1);
}

.order-bg-opacity-vk svg {
	fill: var(--color-vk);
}

.order-bg-opacity-vk i {
	color: var(--color-vk);
}

.color-youtube {
	color: var(--color-youtube);
}

.bg-youtube {
	background: var(--color-youtube);
}

.border-youtube {
	border: 1px solid var(--color-youtube);
}

.order-bg-opacity-youtube {
	background: rgba(var(--color-youtube-rgba), 0.1);
}

.order-bg-opacity-youtube svg {
	fill: var(--color-youtube);
}

.order-bg-opacity-youtube i {
	color: var(--color-youtube);
}

.color-ruby {
	color: var(--color-ruby);
}

.bg-ruby {
	background: var(--color-ruby);
}

.border-ruby {
	border: 1px solid var(--color-ruby);
}

.order-bg-opacity-ruby {
	background: rgba(var(--color-ruby-rgba), 0.1);
}

.order-bg-opacity-ruby svg {
	fill: var(--color-ruby);
}

.order-bg-opacity-ruby i {
	color: var(--color-ruby);
}

.color-instagram {
	color: var(--color-instagram);
}

.bg-instagram {
	background: var(--color-instagram);
}

.border-instagram {
	border: 1px solid var(--color-instagram);
}

.order-bg-opacity-instagram {
	background: rgba(var(--color-instagram-rgba), 0.1);
}

.order-bg-opacity-instagram svg {
	fill: var(--color-instagram);
}

.order-bg-opacity-instagram i {
	color: var(--color-instagram);
}