/*===========================
 Utility Classes
===========================*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--color-dark);
}

.checkbox-primary .form-check-label::before {
	background: #8231D3;
}

.checkbox-primary .form-check-input:checked~.form-check-label::before {
	background: #8231D3;
	border: 1px solid #8231D3;
}

.checkbox-primary .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-secondary .form-check-label::before {
	background: #5840FF;
}

.checkbox-secondary .form-check-input:checked~.form-check-label::before {
	background: #5840FF;
	border: 1px solid #5840FF;
}

.checkbox-secondary .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-success .form-check-label::before {
	background: #01B81A;
}

.checkbox-success .form-check-input:checked~.form-check-label::before {
	background: #01B81A;
	border: 1px solid #01B81A;
}

.checkbox-success .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-info .form-check-label::before {
	background: #00AAFF;
}

.checkbox-info .form-check-input:checked~.form-check-label::before {
	background: #00AAFF;
	border: 1px solid #00AAFF;
}

.checkbox-info .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-infos .form-check-label::before {
	background: #00E4EC;
}

.checkbox-infos .form-check-input:checked~.form-check-label::before {
	background: #00E4EC;
	border: 1px solid #00E4EC;
}

.checkbox-infos .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-warning .form-check-label::before {
	background: #FA8B0C;
}

.checkbox-warning .form-check-input:checked~.form-check-label::before {
	background: #FA8B0C;
	border: 1px solid #FA8B0C;
}

.checkbox-warning .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-warnings .form-check-label::before {
	background: #FFBB00;
}

.checkbox-warnings .form-check-input:checked~.form-check-label::before {
	background: #FFBB00;
	border: 1px solid #FFBB00;
}

.checkbox-warnings .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-danger .form-check-label::before {
	background: #FF0F0F;
}

.checkbox-danger .form-check-input:checked~.form-check-label::before {
	background: #FF0F0F;
	border: 1px solid #FF0F0F;
}

.checkbox-danger .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-dangers .form-check-label::before {
	background: #FF0F0F;
}

.checkbox-dangers .form-check-input:checked~.form-check-label::before {
	background: #FF0F0F;
	border: 1px solid #FF0F0F;
}

.checkbox-dangers .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-purple .form-check-label::before {
	background: #A722F6;
}

.checkbox-purple .form-check-input:checked~.form-check-label::before {
	background: #A722F6;
	border: 1px solid #A722F6;
}

.checkbox-purple .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-dark .form-check-label::before {
	background: #0a0a0a;
}

.checkbox-dark .form-check-input:checked~.form-check-label::before {
	background: #0a0a0a;
	border: 1px solid #0a0a0a;
}

.checkbox-dark .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-light .form-check-label::before {
	background: #f8f9fa;
}

.checkbox-light .form-check-input:checked~.form-check-label::before {
	background: #f8f9fa;
	border: 1px solid #f8f9fa;
}

.checkbox-light .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-light-gray .form-check-label::before {
	background: #8C90A4;
}

.checkbox-light-gray .form-check-input:checked~.form-check-label::before {
	background: #8C90A4;
	border: 1px solid #8C90A4;
}

.checkbox-light-gray .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-text .form-check-label::before {
	background: #666d92;
}

.checkbox-text .form-check-input:checked~.form-check-label::before {
	background: #666d92;
	border: 1px solid #666d92;
}

.checkbox-text .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-lighten .form-check-label::before {
	background: #ADB5D9;
}

.checkbox-lighten .form-check-input:checked~.form-check-label::before {
	background: #ADB5D9;
	border: 1px solid #ADB5D9;
}

.checkbox-lighten .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-gray .form-check-label::before {
	background: #525768;
}

.checkbox-gray .form-check-input:checked~.form-check-label::before {
	background: #525768;
	border: 1px solid #525768;
}

.checkbox-gray .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-third .form-check-label::before {
	background: #8231D3;
}

.checkbox-third .form-check-input:checked~.form-check-label::before {
	background: #8231D3;
	border: 1px solid #8231D3;
}

.checkbox-third .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-white .form-check-label::before {
	background: #ffffff;
}

.checkbox-white .form-check-input:checked~.form-check-label::before {
	background: #ffffff;
	border: 1px solid #ffffff;
}

.checkbox-white .form-check-input:checked~.form-check-label::after {
	color: #f8f9fa;
}

.checkbox-outline-primary .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-primary .form-check-input:checked~.form-check-label::before {
	border: 1px solid #8231D3;
	background: #8231D3;
}

.checkbox-outline-primary .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-secondary .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-secondary .form-check-input:checked~.form-check-label::before {
	border: 1px solid #5840FF;
	background: #5840FF;
}

.checkbox-outline-secondary .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-success .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-success .form-check-input:checked~.form-check-label::before {
	border: 1px solid #01B81A;
	background: #01B81A;
}

.checkbox-outline-success .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-info .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-info .form-check-input:checked~.form-check-label::before {
	border: 1px solid #00AAFF;
	background: #00AAFF;
}

.checkbox-outline-info .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-infos .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-infos .form-check-input:checked~.form-check-label::before {
	border: 1px solid #00E4EC;
	background: #00E4EC;
}

.checkbox-outline-infos .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-warning .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-warning .form-check-input:checked~.form-check-label::before {
	border: 1px solid #FA8B0C;
	background: #FA8B0C;
}

.checkbox-outline-warning .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-warnings .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-warnings .form-check-input:checked~.form-check-label::before {
	border: 1px solid #FFBB00;
	background: #FFBB00;
}

.checkbox-outline-warnings .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-danger .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-danger .form-check-input:checked~.form-check-label::before {
	border: 1px solid #FF0F0F;
	background: #FF0F0F;
}

.checkbox-outline-danger .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-dangers .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-dangers .form-check-input:checked~.form-check-label::before {
	border: 1px solid #FF0F0F;
	background: #FF0F0F;
}

.checkbox-outline-dangers .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-purple .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-purple .form-check-input:checked~.form-check-label::before {
	border: 1px solid #A722F6;
	background: #A722F6;
}

.checkbox-outline-purple .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-dark .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-dark .form-check-input:checked~.form-check-label::before {
	border: 1px solid #0a0a0a;
	background: #0a0a0a;
}

.checkbox-outline-dark .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-light .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-light .form-check-input:checked~.form-check-label::before {
	border: 1px solid #f8f9fa;
	background: #f8f9fa;
}

.checkbox-outline-light .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-light-gray .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-light-gray .form-check-input:checked~.form-check-label::before {
	border: 1px solid #8C90A4;
	background: #8C90A4;
}

.checkbox-outline-light-gray .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-text .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-text .form-check-input:checked~.form-check-label::before {
	border: 1px solid #666d92;
	background: #666d92;
}

.checkbox-outline-text .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-lighten .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-lighten .form-check-input:checked~.form-check-label::before {
	border: 1px solid #ADB5D9;
	background: #ADB5D9;
}

.checkbox-outline-lighten .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-gray .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-gray .form-check-input:checked~.form-check-label::before {
	border: 1px solid #525768;
	background: #525768;
}

.checkbox-outline-gray .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-third .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-third .form-check-input:checked~.form-check-label::before {
	border: 1px solid #8231D3;
	background: #8231D3;
}

.checkbox-outline-third .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

.checkbox-outline-white .form-check-label:before {
	border: 1px solid var(--border-color);
}

.checkbox-outline-white .form-check-input:checked~.form-check-label::before {
	border: 1px solid #ffffff;
	background: #ffffff;
}

.checkbox-outline-white .form-check-input:checked~.form-check-label::after {
	color: var(--color-white);
}

/*===========================
 Spacing classes
===========================*/
.m-0 {
	margin: 0 !important;
}

.m-1 {
	margin: 0.25rem !important;
}

.m-2 {
	margin: 0.5rem !important;
}

.m-3 {
	margin: 16px !important;
}

.m-4 {
	margin: 1.5rem !important;
}

.m-5 {
	margin: 3rem !important;
}

.m-10 {
	margin: 10px !important;
}

.m-15 {
	margin: 15px !important;
}

.m-20 {
	margin: 20px !important;
}

.m-25 {
	margin: 25px !important;
}

.m-30 {
	margin: 30px !important;
}

.m-35 {
	margin: 35px !important;
}

.m-40 {
	margin: 40px !important;
}

.m-45 {
	margin: 45px !important;
}

.m-50 {
	margin: 50px !important;
}

.m-auto {
	margin: auto !important;
}

.mx-0 {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.mx-1 {
	margin-right: 0.25rem !important;
	margin-left: 0.25rem !important;
}

.mx-2 {
	margin-right: 0.5rem !important;
	margin-left: 0.5rem !important;
}

.mx-3 {
	margin-right: 16px !important;
	margin-left: 16px !important;
}

.mx-4 {
	margin-right: 1.5rem !important;
	margin-left: 1.5rem !important;
}

.mx-5 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;
}

.mx-10 {
	margin-right: 10px !important;
	margin-left: 10px !important;
}

.mx-15 {
	margin-right: 15px !important;
	margin-left: 15px !important;
}

.mx-20 {
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.mx-25 {
	margin-right: 25px !important;
	margin-left: 25px !important;
}

.mx-30 {
	margin-right: 30px !important;
	margin-left: 30px !important;
}

.mx-35 {
	margin-right: 35px !important;
	margin-left: 35px !important;
}

.mx-40 {
	margin-right: 40px !important;
	margin-left: 40px !important;
}

.mx-45 {
	margin-right: 45px !important;
	margin-left: 45px !important;
}

.mx-50 {
	margin-right: 50px !important;
	margin-left: 50px !important;
}

.mx-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.my-1 {
	margin-top: 0.25rem !important;
	margin-bottom: 0.25rem !important;
}

.my-2 {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.my-3 {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

.my-4 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

.my-5 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.my-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.my-15 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.my-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.my-25 {
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}

.my-30 {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.my-35 {
	margin-top: 35px !important;
	margin-bottom: 35px !important;
}

.my-40 {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

.my-45 {
	margin-top: 45px !important;
	margin-bottom: 45px !important;
}

.my-50 {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-1 {
	margin-top: 0.25rem !important;
}

.mt-2 {
	margin-top: 0.5rem !important;
}

.mt-3 {
	margin-top: 16px !important;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

.mt-5 {
	margin-top: 3rem !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-15 {
	margin-top: 15px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mt-25 {
	margin-top: 25px !important;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-35 {
	margin-top: 35px !important;
}

.mt-40 {
	margin-top: 40px !important;
}

.mt-45 {
	margin-top: 45px !important;
}

.mt-50 {
	margin-top: 50px !important;
}

.mt-auto {
	margin-top: auto !important;
}

.me-0 {
	margin-right: 0 !important;
}

.me-1 {
	margin-right: 0.25rem !important;
}

.me-2 {
	margin-right: 0.5rem !important;
}

.me-3 {
	margin-right: 16px !important;
}

.me-4 {
	margin-right: 1.5rem !important;
}

.me-5 {
	margin-right: 3rem !important;
}

.me-10 {
	margin-right: 10px !important;
}

.me-15 {
	margin-right: 15px !important;
}

.me-20 {
	margin-right: 20px !important;
}

.me-25 {
	margin-right: 25px !important;
}

.me-30 {
	margin-right: 30px !important;
}

.me-35 {
	margin-right: 35px !important;
}

.me-40 {
	margin-right: 40px !important;
}

.me-45 {
	margin-right: 45px !important;
}

.me-50 {
	margin-right: 50px !important;
}

.me-auto {
	margin-right: auto !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mb-3 {
	margin-bottom: 16px !important;
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-25 {
	margin-bottom: 25px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-35 {
	margin-bottom: 35px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

.mb-45 {
	margin-bottom: 45px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}

.mb-auto {
	margin-bottom: auto !important;
}

.ms-0 {
	margin-left: 0 !important;
}

.ms-1 {
	margin-left: 0.25rem !important;
}

.ms-2 {
	margin-left: 0.5rem !important;
}

.ms-3 {
	margin-left: 16px !important;
}

.ms-4 {
	margin-left: 1.5rem !important;
}

.ms-5 {
	margin-left: 3rem !important;
}

.ms-10 {
	margin-left: 10px !important;
}

.ms-15 {
	margin-left: 15px !important;
}

.ms-20 {
	margin-left: 20px !important;
}

.ms-25 {
	margin-left: 25px !important;
}

.ms-30 {
	margin-left: 30px !important;
}

.ms-35 {
	margin-left: 35px !important;
}

.ms-40 {
	margin-left: 40px !important;
}

.ms-45 {
	margin-left: 45px !important;
}

.ms-50 {
	margin-left: 50px !important;
}

.ms-auto {
	margin-left: auto !important;
}

.m-n1 {
	margin: -0.25rem !important;
}

.m-n2 {
	margin: -0.5rem !important;
}

.m-n3 {
	margin: -16px !important;
}

.m-n4 {
	margin: -1.5rem !important;
}

.m-n5 {
	margin: -3rem !important;
}

.m-n10 {
	margin: -10px !important;
}

.m-n15 {
	margin: -15px !important;
}

.m-n20 {
	margin: -20px !important;
}

.m-n25 {
	margin: -25px !important;
}

.m-n30 {
	margin: -30px !important;
}

.m-n35 {
	margin: -35px !important;
}

.m-n40 {
	margin: -40px !important;
}

.m-n45 {
	margin: -45px !important;
}

.m-n50 {
	margin: -50px !important;
}

.mx-n1 {
	margin-right: -0.25rem !important;
	margin-left: -0.25rem !important;
}

.mx-n2 {
	margin-right: -0.5rem !important;
	margin-left: -0.5rem !important;
}

.mx-n3 {
	margin-right: -16px !important;
	margin-left: -16px !important;
}

.mx-n4 {
	margin-right: -1.5rem !important;
	margin-left: -1.5rem !important;
}

.mx-n5 {
	margin-right: -3rem !important;
	margin-left: -3rem !important;
}

.mx-n10 {
	margin-right: -10px !important;
	margin-left: -10px !important;
}

.mx-n15 {
	margin-right: -15px !important;
	margin-left: -15px !important;
}

.mx-n20 {
	margin-right: -20px !important;
	margin-left: -20px !important;
}

.mx-n25 {
	margin-right: -25px !important;
	margin-left: -25px !important;
}

.mx-n30 {
	margin-right: -30px !important;
	margin-left: -30px !important;
}

.mx-n35 {
	margin-right: -35px !important;
	margin-left: -35px !important;
}

.mx-n40 {
	margin-right: -40px !important;
	margin-left: -40px !important;
}

.mx-n45 {
	margin-right: -45px !important;
	margin-left: -45px !important;
}

.mx-n50 {
	margin-right: -50px !important;
	margin-left: -50px !important;
}

.my-n1 {
	margin-top: -0.25rem !important;
	margin-bottom: -0.25rem !important;
}

.my-n2 {
	margin-top: -0.5rem !important;
	margin-bottom: -0.5rem !important;
}

.my-n3 {
	margin-top: -16px !important;
	margin-bottom: -16px !important;
}

.my-n4 {
	margin-top: -1.5rem !important;
	margin-bottom: -1.5rem !important;
}

.my-n5 {
	margin-top: -3rem !important;
	margin-bottom: -3rem !important;
}

.my-n10 {
	margin-top: -10px !important;
	margin-bottom: -10px !important;
}

.my-n15 {
	margin-top: -15px !important;
	margin-bottom: -15px !important;
}

.my-n20 {
	margin-top: -20px !important;
	margin-bottom: -20px !important;
}

.my-n25 {
	margin-top: -25px !important;
	margin-bottom: -25px !important;
}

.my-n30 {
	margin-top: -30px !important;
	margin-bottom: -30px !important;
}

.my-n35 {
	margin-top: -35px !important;
	margin-bottom: -35px !important;
}

.my-n40 {
	margin-top: -40px !important;
	margin-bottom: -40px !important;
}

.my-n45 {
	margin-top: -45px !important;
	margin-bottom: -45px !important;
}

.my-n50 {
	margin-top: -50px !important;
	margin-bottom: -50px !important;
}

.mt-n1 {
	margin-top: -0.25rem !important;
}

.mt-n2 {
	margin-top: -0.5rem !important;
}

.mt-n3 {
	margin-top: -16px !important;
}

.mt-n4 {
	margin-top: -1.5rem !important;
}

.mt-n5 {
	margin-top: -3rem !important;
}

.mt-n10 {
	margin-top: -10px !important;
}

.mt-n15 {
	margin-top: -15px !important;
}

.mt-n20 {
	margin-top: -20px !important;
}

.mt-n25 {
	margin-top: -25px !important;
}

.mt-n30 {
	margin-top: -30px !important;
}

.mt-n35 {
	margin-top: -35px !important;
}

.mt-n40 {
	margin-top: -40px !important;
}

.mt-n45 {
	margin-top: -45px !important;
}

.mt-n50 {
	margin-top: -50px !important;
}

.me-n1 {
	margin-right: -0.25rem !important;
}

.me-n2 {
	margin-right: -0.5rem !important;
}

.me-n3 {
	margin-right: -16px !important;
}

.me-n4 {
	margin-right: -1.5rem !important;
}

.me-n5 {
	margin-right: -3rem !important;
}

.me-n10 {
	margin-right: -10px !important;
}

.me-n15 {
	margin-right: -15px !important;
}

.me-n20 {
	margin-right: -20px !important;
}

.me-n25 {
	margin-right: -25px !important;
}

.me-n30 {
	margin-right: -30px !important;
}

.me-n35 {
	margin-right: -35px !important;
}

.me-n40 {
	margin-right: -40px !important;
}

.me-n45 {
	margin-right: -45px !important;
}

.me-n50 {
	margin-right: -50px !important;
}

.mb-n1 {
	margin-bottom: -0.25rem !important;
}

.mb-n2 {
	margin-bottom: -0.5rem !important;
}

.mb-n3 {
	margin-bottom: -16px !important;
}

.mb-n4 {
	margin-bottom: -1.5rem !important;
}

.mb-n5 {
	margin-bottom: -3rem !important;
}

.mb-n10 {
	margin-bottom: -10px !important;
}

.mb-n15 {
	margin-bottom: -15px !important;
}

.mb-n20 {
	margin-bottom: -20px !important;
}

.mb-n25 {
	margin-bottom: -25px !important;
}

.mb-n30 {
	margin-bottom: -30px !important;
}

.mb-n35 {
	margin-bottom: -35px !important;
}

.mb-n40 {
	margin-bottom: -40px !important;
}

.mb-n45 {
	margin-bottom: -45px !important;
}

.mb-n50 {
	margin-bottom: -50px !important;
}

.ms-n1 {
	margin-left: -0.25rem !important;
}

.ms-n2 {
	margin-left: -0.5rem !important;
}

.ms-n3 {
	margin-left: -16px !important;
}

.ms-n4 {
	margin-left: -1.5rem !important;
}

.ms-n5 {
	margin-left: -3rem !important;
}

.ms-n10 {
	margin-left: -10px !important;
}

.ms-n15 {
	margin-left: -15px !important;
}

.ms-n20 {
	margin-left: -20px !important;
}

.ms-n25 {
	margin-left: -25px !important;
}

.ms-n30 {
	margin-left: -30px !important;
}

.ms-n35 {
	margin-left: -35px !important;
}

.ms-n40 {
	margin-left: -40px !important;
}

.ms-n45 {
	margin-left: -45px !important;
}

.ms-n50 {
	margin-left: -50px !important;
}

.p-0 {
	padding: 0 !important;
}

.p-1 {
	padding: 0.25rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.p-3 {
	padding: 16px !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.p-5 {
	padding: 3rem !important;
}

.p-10 {
	padding: 10px !important;
}

.p-15 {
	padding: 15px !important;
}

.p-20 {
	padding: 20px !important;
}

.p-25 {
	padding: 25px !important;
}

.p-30 {
	padding: 30px !important;
}

.p-35 {
	padding: 35px !important;
}

.p-40 {
	padding: 40px !important;
}

.p-45 {
	padding: 45px !important;
}

.p-50 {
	padding: 50px !important;
}

.px-0 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.px-1 {
	padding-right: 0.25rem !important;
	padding-left: 0.25rem !important;
}

.px-2 {
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}

.px-3 {
	padding-right: 16px !important;
	padding-left: 16px !important;
}

.px-4 {
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
}

.px-5 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.px-10 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.px-15 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.px-20 {
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.px-25 {
	padding-right: 25px !important;
	padding-left: 25px !important;
}

.px-30 {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

.px-35 {
	padding-right: 35px !important;
	padding-left: 35px !important;
}

.px-40 {
	padding-right: 40px !important;
	padding-left: 40px !important;
}

.px-45 {
	padding-right: 45px !important;
	padding-left: 45px !important;
}

.px-50 {
	padding-right: 50px !important;
	padding-left: 50px !important;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.py-1 {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.py-2 {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.py-3 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}

.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.py-5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}

.py-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.py-15 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.py-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.py-25 {
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.py-30 {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.py-35 {
	padding-top: 35px !important;
	padding-bottom: 35px !important;
}

.py-40 {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

.py-45 {
	padding-top: 45px !important;
	padding-bottom: 45px !important;
}

.py-50 {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pt-3 {
	padding-top: 16px !important;
}

.pt-4 {
	padding-top: 1.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}

.pt-10 {
	padding-top: 10px !important;
}

.pt-15 {
	padding-top: 15px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pt-25 {
	padding-top: 25px !important;
}

.pt-30 {
	padding-top: 30px !important;
}

.pt-35 {
	padding-top: 35px !important;
}

.pt-40 {
	padding-top: 40px !important;
}

.pt-45 {
	padding-top: 45px !important;
}

.pt-50 {
	padding-top: 50px !important;
}

.pe-0 {
	padding-right: 0 !important;
}

.pe-1 {
	padding-right: 0.25rem !important;
}

.pe-2 {
	padding-right: 0.5rem !important;
}

.pe-3 {
	padding-right: 16px !important;
}

.pe-4 {
	padding-right: 1.5rem !important;
}

.pe-5 {
	padding-right: 3rem !important;
}

.pe-10 {
	padding-right: 10px !important;
}

.pe-15 {
	padding-right: 15px !important;
}

.pe-20 {
	padding-right: 20px !important;
}

.pe-25 {
	padding-right: 25px !important;
}

.pe-30 {
	padding-right: 30px !important;
}

.pe-35 {
	padding-right: 35px !important;
}

.pe-40 {
	padding-right: 40px !important;
}

.pe-45 {
	padding-right: 45px !important;
}

.pe-50 {
	padding-right: 50px !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-1 {
	padding-bottom: 0.25rem !important;
}

.pb-2 {
	padding-bottom: 0.5rem !important;
}

.pb-3 {
	padding-bottom: 16px !important;
}

.pb-4 {
	padding-bottom: 1.5rem !important;
}

.pb-5 {
	padding-bottom: 3rem !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pb-15 {
	padding-bottom: 15px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pb-25 {
	padding-bottom: 25px !important;
}

.pb-30 {
	padding-bottom: 30px !important;
}

.pb-35 {
	padding-bottom: 35px !important;
}

.pb-40 {
	padding-bottom: 40px !important;
}

.pb-45 {
	padding-bottom: 45px !important;
}

.pb-50 {
	padding-bottom: 50px !important;
}

.ps-0 {
	padding-left: 0 !important;
}

.ps-1 {
	padding-left: 0.25rem !important;
}

.ps-2 {
	padding-left: 0.5rem !important;
}

.ps-3 {
	padding-left: 16px !important;
}

.ps-4 {
	padding-left: 1.5rem !important;
}

.ps-5 {
	padding-left: 3rem !important;
}

.ps-10 {
	padding-left: 10px !important;
}

.ps-15 {
	padding-left: 15px !important;
}

.ps-20 {
	padding-left: 20px !important;
}

.ps-25 {
	padding-left: 25px !important;
}

.ps-30 {
	padding-left: 30px !important;
}

.ps-35 {
	padding-left: 35px !important;
}

.ps-40 {
	padding-left: 40px !important;
}

.ps-45 {
	padding-left: 45px !important;
}

.ps-50 {
	padding-left: 50px !important;
}

/* Loader Active */
.ninjadash-loader-active {
	position: relative;
	/* opacity: .4; */
}

.ninjadash-loader-active:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: 10;
	background-color: rgba(255, 255, 255, .50);
}

/* border radius */
.radius {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.radius-xl {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.radius-lg {
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.radius-md {
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.radius-sm {
	-webkit-border-radius: 0.2rem;
	border-radius: 0.2rem;
}

.radius-xs {
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* width/height */
.wh-18,
.media-ui--completed .progress-icon {
	width: 18px;
	height: 18px;
}

.wh-20 {
	width: 20px;
	height: 20px;
}

.wh-24 {
	width: 24px;
	height: 24px;
}

.wh-25 {
	width: 25px;
	height: 25px;
}

.wh-26 {
	width: 26px;
	height: 26px;
}

.wh-30 {
	width: 30px;
	height: 30px;
}

.wh-32 {
	width: 32px;
	height: 32px;
}

.wh-36 {
	width: 36px;
	height: 36px;
}

.wh-38,
.product-cart .actions button {
	width: 38px;
	height: 38px;
}

.wh-34,
.like-icon {
	width: 34px;
	height: 34px;
}

.wh-40,
.icon-list-social__link {
	width: 40px;
	height: 40px;
}

.wh-42 {
	width: 42px;
	height: 42px;
}

.wh-44 {
	width: 44px;
	height: 44px;
}

.wh-46 {
	width: 46px;
	height: 46px;
}

.wh-48 {
	width: 48px;
	height: 48px;
}

.wh-50 {
	width: 50px !important;
	height: 50px !important;
}

.wh-60 {
	width: 60px;
	height: 60px;
}

.wh-70 {
	width: 70px;
	height: 70px;
}

.wh-80 {
	width: 80px;
	height: 80px;
}

.w-80 {
	width: 80%;
}

.w-90 {
	width: 90%;
}

.wh-100 {
	width: 100px;
	height: 100px;
}

.w-100px {
	width: 100px;
}

.wh-120 {
	width: 120px;
	height: 120px;
}

.wh-150 {
	width: 150px;
	height: 150px;
}

/* flex */
.flex-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* Font-size & Font-weight */
.fs-10 {
	font-size: 10px;
}

.fs-12 {
	font-size: 12px;
}

.fs-13 {
	font-size: 13px;
}

.fs-14 {
	font-size: 14px;
}

.fs-15 {
	font-size: 15px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: calc(16.2px + 0.15vw);
}

.fs-20 {
	font-size: calc(16.4px + 0.3vw);
}

.fs-22 {
	font-size: calc(16.6px + 0.45vw);
}

.fs-24 {
	font-size: calc(16.8px + 0.6vw);
}

.fw-400 {
	font-weight: 400 !important;
}

.fw-500 {
	font-weight: 500 !important;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.text-normal {
    font-size: 15px;
    line-height: calc(25/15);
    font-weight: 400;
}

.text-small {
    font-size: 14px;
    line-height: calc(22/14);
    font-weight: 400;
}

.text-big {
    font-size: 16px;
    line-height: calc(27/16);
    font-weight: 400;
}