.content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inline-content-center{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.align-center{
  display: flex;
  align-items: center;
}


